@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500&family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    background-color:aquamarine;
    width:100%;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#navigation {
    list-style-type: none;
}

#navigation>li {
    margin-bottom: 1rem;
}



.active {
    border-bottom: 1px;
}