/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500&family=Bebas+Neue&display=swap');


/* Change default margin, padding and border to 0 and none */
* {
    padding: 0;
    margin: 0;
}

/* Style default body */
body {
    font-family: 'Barlow Condensed', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #046997;
    width: 100%;
}

header a {
    text-decoration: none;
}

#logo {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    padding: 0 1rem;
    font-size: 300%;
    text-align: center;
}


#navigation {
    list-style-type: none;
}

#navigation>li {
    margin-bottom: 1rem;
    display: inline-block;
}

.active {
    border-bottom: 1px;
}

main {
    background-color: #30b1ce;
    width: 100%;
    flex: 1 0 auto;
}

footer {
    background-color: #046997;
    width: 100%;
}