/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500&family=Bebas+Neue&display=swap');


/* Change default margin, padding and border to 0 and none */
* {
    padding: 0;
    margin: 0;
}

/* Style default body */
body {
    font-family: 'Barlow Condensed', sans-serif;
    min-height: 100vh;
    display: flex;
    /* project styles */
    flex-direction: column;
    color: #FFFFFF
}

header {
    background-color: #046997;
    width: 100%;
    padding: 0 1em;
    height:10%
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-right: 1rem;
    font-size: 250%;
}


#navigation {
    list-style-type: none;
    font-size: 120%;
    
}

#navigation>li {
    border-bottom: 1em;
}

.active {
    border-bottom: 1px solid #FFFFFF;

}

main {
    background-color: #30b1ce;
    width: 100%;
    flex: 1 0 auto;
}

footer {
    background-color: #046997;
    width: 100%;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color:#FFFFFF;
}