/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500&family=Bebas+Neue&display=swap');


/* Change default margin, padding and border to 0 and none */
* {
    padding: 0;
    margin: 0;
}

/* Style default body */
body {
    font-family: 'Barlow Condensed', sans-serif;
    height:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* project styles */
    flex-direction: column;
    color: #FFFFFF
}

/* Header styles */
header {
    background-color: #046997;
    width: 100%;
    display:flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    box-shadow: 0 2px 2px #3a3a3a;
    align-items: baseline;
}
/* removed underlines from links */
header a {
    text-decoration: none;
    color: inherit;
}
/* logo style */
#logo {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-size: 250%;
}

/* navigation styling */
#navigation {
    list-style-type: none;
    font-size: 120%;
}

#navigation>li {
    border-bottom: 1em;
    padding: 0 10px;
    font-size: 110%;
}

.active {
    border-bottom: 1px solid #FFFFFF;

}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #046997;
    width: 100%;
    left:0;
    display: none;
    top: 100%;

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */

main {
    background-color: #FFFFFF;;
    width: 100%;
    flex: 1 0 auto;
}


/* Footer */
footer {
    background-color: #046997;
    width: 100%;
}

#social-networks {
    text-align: right;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#social-networks a {
    padding: 0 5px;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color:#FFFFFF;
}

@media screen and(min-width: 768px) {
/* Header */
nav {
    display: block;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    left:0;
}


#navigation {
    display: flex;
}

#navigation>li {
    padding-left: 1em;
}

}
    